body {
    background-color: #2a2a2a ;
}
.logo {
  display: flex;
  margin-left: 10px; 
  padding: 10px;
  width: 10px;
  height: 10px;
    }
  .logo img {
      width: 50px;
      height: 40px;
  }

 .region { 
    display: flex;
    color:  #444242;
    padding-left: 100px;
    justify-content: space-around;
    width: 700px;
    cursor: pointer; 
    margin-left: 410px;
    transform: translateY(40px);
  
 }
 .region div {
  color: #555353;   
  letter-spacing: 0.5px;  
  color: rgb(206, 193, 225);;
  animation-duration: 3s;
  animation-name: example;
}

@keyframes example {
  from {color: rgb(69, 46, 247);}
  to  {color: rgb(108, 108, 230);}
  to  {color: rgb(165, 165, 236);}
  to  {color: rgb(165, 165, 236);}
  to  {color: rgb(206, 193, 225);}
} 
 
 .start {
    margin-left: 20px;
 }
 .opa {
    padding: 10px;
 }
 .ame {
    padding: 10px;
 }
 .mash {
    padding: 10px;
 }
  
.region div {
    color: #bfbfbf;      
}
.line {
    width: 1px;
    height: 20px;
    background:  #666565;
    display: inline-block;
    margin: 2px; 
    margin-left: 10px;
     }  
.name {
   display: flex;
   color:  #c4c4c4;
   padding-left: 100px;
   width: 900px;
   cursor: pointer; 
   font-size: x-large;
   transform: translateY(10px);
}
.name h1 {
margin-right: 550px;
}

.conteiner {
  width: 1400px;
  height: 400px;
  border: 2px solid rgb(218, 216, 216);
  background-color: #1a1a1a;
     
}
.conteiner h2 {
  color: rgb(121, 119, 119);
  font-size: small;
 
 padding: 20px;
}

.conteiner {
 display: inline-flex;
 
} 
.conteiner  div {
  width: 350px;
  height: 200px;
  background-color: #423f3f;
  margin: 30px;
  padding: 8px;
  font-size: 30px;
  border: 2px solid black;
}
.conteiner img {
  width: 200px;
  height: 150px;
  padding: 2px;
}



body {
  background-color: #2a2a2a ;
}
.region { 
  display: flex;
  color:  #e4e4e4;
  padding-left: 100px;
  justify-content: space-around;
  width: 700px;
  cursor: pointer; 
  margin-left: 410px;
  transform: translateY(40px);

}

.region div {
  color: #bfbfbf;      
}
.line {
  width: 1px;
  height: 20px;
  background:  #000000;
  display: inline-block;
  margin: 2px; 
  margin-left: 10px;  
}

.flex-container  {
  display: flex;
  
}

.flex-container  div {
  width: 500px;
  height: 270px;
  background-color: #423f3f;
  margin: 20px;
  padding: 6px;
  font-size: 20px;
  border: 2px solid black;
}
.flex-container img {
  width: 350px;
  height: 220px;
  padding: 2px;
}
.flex-container h1 {
width: 200px;
height: 100px;
font-size: large;
color: rgb(179, 179, 179);
margin-left: 5px;
display: inline-block;
}
.flex-container1  {
  display: flex;
 
  
}

.flex-container1  div {
  width: 500px;
  height: 270px;
  background-color: #423f3f;
  margin: 20px;
  padding: 6px;
  font-size: 20px;
  border: 2px solid black;
  
 }
 .flex-container1 p {
display: flex;
color: rgb(28, 143, 28);
cursor: pointer;
font-size: large;
margin-left: 400px;
display: inline-block;


 }

.flex-container1 img {
  width: 340px;
  height: 220px;
  padding: 2px;
  display: flex;
 
}
.flex-container1 h1 {
width: 200px;
height: 100px;
font-size: large;
color: rgb(163, 163, 163);
margin-left: 5px;
display: inline-block;

}

.joteges-name {
color: rgb(255, 255, 255);
margin-left: 680px;
font-size: x-large;
padding: 50px;
cursor: pointer;
}
.flex-container3 {
  display: flex;
  
}

.flex-container3  div {
  width: 400px;
  height: 270px;
  background-color: #423f3f;
  margin: 20px;
  padding: 6px;
  font-size: 20px;
  border: 2px solid black;
}
.flex-container3 img {
  width: 350px;
  height: 220px;
  padding: 2px;
}
.flex-container3 h1 {
width: 200px;
height: 100px;
font-size: large;
color: rgb(174, 175, 177);
margin-left: 5px;
display: inline-block;
}

.flex-container4  {
  display: flex;
  
}
.new {
  color: green;
  cursor: pointer;
  font-size: large;
  margin-left: 1550px; 
  display: inline-block;
   }


.flex-container4  div {
  width: 600px;
  height: 250px;
  background-color: #423f3f;
  margin: 30px;
  padding: 8px;
  font-size: 30px;
  border: 2px solid black;
}
.flex-container4 img {
  width: 300px;
  height: 200px;
  padding: 2px;
}
.flex-container4 h1 {
width: 200px;
height: 100px;
font-size: large;
color: rgb(185, 186, 188);
margin-left: 5px;
display: inline-block;
}


.name {
  color: rgb(255, 255, 255);
margin-left: 680px;
font-size: x-large;
padding: 50px;
}


 
 
 
 

 
 
